@model RecipeMicroservice.Application.DTOs.Recipe.UpdateRecipeDto
@{
	ViewData["Title"] = "Edit Recipe";
}
<h2>Edit Recipe</h2>

<form asp-action="Edit" method="post">
	<div class="mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="PrepTimeInMinutes" class="form-label"></label>
		<input asp-for="PrepTimeInMinutes" class="form-control" type="number" />
		<span asp-validation-for="PrepTimeInMinutes" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="CookTimeInMinutes" class="form-label"></label>
		<input asp-for="CookTimeInMinutes" class="form-control" type="number" />
		<span asp-validation-for="CookTimeInMinutes" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Servings" class="form-label"></label>
		<input asp-for="Servings" class="form-control" typeof="number">
		<span asp-validation-for="Servings" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Edit</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>