@model RecipeMicroservice.Presentation.Models.Unit.CreateUnitViewModel
@{
	ViewData["Title"] = "Create Unit";
}

<h2>Create Unit</h2>

<form asp-controller="Unit" asp-action="Create" method="post">
	<div class="mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
	<a asp-controller="Unit" asp-action="Index" class="btn btn-secondary">Cancel</a>"
</form>
