@model RecipeMicroservice.PresentationMVC.Models.Unit.UnitViewModel
@{
	ViewData["Title"] = "Delete Unit";
}

<h1>Delete Unit</h1>
<h3>Are you sure you want to delete this unit?</h3>

<form asp-action="Delete" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
