@model RecipeMicroservice.PresentationMVC.Models.Unit.UnitViewModel
@{
	ViewData["Title"] = "Unit Details";
}

<h2>@Model.Name</h2>

<p>
	<strong>No attributes to display for @Model.Name</strong><br />
</p>

<a asp-controller="Unit" asp-action="List" class="btn btn-secondary">Back to List</a>
<a asp-controller="Unit" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-controller="Unit" asp-action="Delete" asp-route-idRecipe="@Model.Id" class="btn btn-danger">Delete</a>
