@using RecipeMicroservice.Presentation.Models.Ingredient
@model IngredientListViewModel
<div class="col">
	<input type="text" name="searchName" value="@Model.SearchName" class="form-control" placeholder="Ingredient Name" />
</div>