@model RecipeMicroservice.Presentation.Models.Ingredient.IngredientViewModel
@{
	ViewData["Title"] = "Delete Ingredient";
}

<h2>Delete Ingredient - @Model.Name</h2>
<h3>Are you sure you want to delete this ingredient?</h3>

<form asp-action="Delete" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-controller="Ingredient" asp-action="List" class="btn btn-secondary">Cancel</a>
</form>
