@using RecipeMicroservice.Presentation.Models.Ingredient
@model IngredientListViewModel
@{
	ViewData["Title"] = "Ingredients";
	ViewBag.PartialView = "_IngredientListPartial";
	ViewBag.PartialUrl = "/Ingredient/PartialIngredients";
	ViewBag.CreateUrl = Url.Action("Create", "Ingredient");
	ViewBag.CreateLabel = "Create New Ingredient";
	ViewBag.ListId = "ingredientList";
	ViewBag.SearchFormId = "ingredientSearchForm";
	ViewBag.SearchFieldsPartial = "_IngredientSearchFields";
}
<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_AjaxListContainer", Model)